
.Ap-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;

}
.Ap-buttons{
    width: 17vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #800000;

}
.Ap-btn{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 16vw;
    margin-left: 8px;
}
.Ap-btn button{
    text-align: left;
    background-color: transparent;
    color: white;
}
.Ap-btn button i{
    margin-right: 10px;
    color: white;
}
.Ap-top span{
    font-size: 21px;
    font-weight: bold;
    color: white;
}
.Ap-top i{
    font-size: 21px;
    margin-left: 13px;
    color: white;
}

.Ap-btn button.products:hover {
    background-color: lightgray;


}
.Ap-btn button.product{
    background-color: lightgrey;
}

.Ap-display h2{
    font-size: 20px;
    margin: 10px;
}
.Ap-display{
    display: flex;
    margin:10px;
    flex-direction: column;
}
.Ap-display input{
    width: 200%;
    color: black;
    background-color: white;
    border: 2px solid black;
    outline: none;

}
.addproduct-dropbtn{
    background-color: lightgrey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 99%;

}

.addproduct-dropdown i{
    margin-left: 7px;
}

.addproduct-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 113px;
}

/* Links inside the dropdown */
.addproduct-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
button.addproduct-dropbtn{
    height: 46%;
}

/* Change color of dropdown links on hover */
.addproduct-dropdown-content a:hover {background-color: lightgrey;color: black}

/* Show the dropdown menu on hover */
.addproduct-dropdown:hover .addproduct-dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.addproduct-dropdown:hover .addproduct-dropbtn {background-color: lightgrey}

.cat-dropbtn{
    background-color: lightgrey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 99%;
}
.cat-dropdown i{
    margin-left: 7px;
}
.cat-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 105px;
}
.cat-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
button.cat-dropbtn{
    height: 46%;
}
.cat-dropdown-content a:hover {background-color: lightgrey;color: black}
.cat-dropdown:hover .cat-dropdown-content {display: block;}
.cat-dropdown:hover .cat-dropbtn {background-color: lightgrey}

.brand-dropbtn{
    background-color: lightgrey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 99%;
}
.brand-dropdown i{
    margin-left: 7px;
}
.brand-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 125px;
}
.brand-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
button.brand-dropbtn{
    height: 46%;
}
.brand-dropdown-content a:hover {background-color: lightgrey;color: black}
.brand-dropdown:hover .brand-dropdown-content {display: block;}
.brand-dropdown:hover .brand-dropbtn {background-color: lightgrey}


.profile-dropbtn{
    background-color: lightgrey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 99%;
}
.profile-dropdown i{
    margin-left: 7px;
}
.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 85px;
}
.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
button.profile-dropbtn{
    height: 46%;
}
.profile-dropdown-content a:hover {background-color: lightgrey;color: black}
.profile-dropdown:hover .profile-dropdown-content {display: block;}
.profile-dropdown:hover .profile-dropbtn {background-color: lightgrey}
